.App {
  margin: 30px auto;
  width: 1100px;
  text-align: center;
}

.footer {
  margin: auto 0;
  text-align: left;
  padding-left: 50px;
  border-radius: 8px;
  padding: 5px 70px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  background-color: rgb(100, 160, 160);
  margin-bottom: 10px;
}
